.card {
  max-width: 400px;
  height: 600px;
}

.card-img {
  height: 300px;
  object-fit: cover;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

.card-txt {
	height: 150px;
}

.VFact {
	color: green;
}

.FFact {
	color: red;
}