
<img src="https://media.tenor.com/images/7645a8d8641078195b89b1b7f096c7b2/tenor.gif" alt="CatVibing" style="display: none;position: fixed; height: 100vh; top: 0; left: 0; z-index: 10;">
<div class="container">
  <h1>The World Of Cats</h1>
   <!-- Correspond au `selector` du component crée -->
  	<mat-tab-group>
	  	<mat-tab label="New Facts">
	  		<app-cat></app-cat>
	  	</mat-tab>
	  	<mat-tab label="Saved Facts">
	  		<app-catsave></app-catsave>
	  	</mat-tab>
	</mat-tab-group>

	<script type="text/javascript" async src="https://tenor.com/embed.js"></script>

</div>
