<div class="container">
  <!-- Titre Affiché -->
  <h1>The World Of Cats <span class="michael">Michael PERARD 2021</span></h1>
  <!-- Tab pour séparer le composant qui génère les cartes sur les chats et celui qui les sauvegardent -->
  <mat-tab-group>
  	<!-- Composant qui affiche les cartes générées -->
	<mat-tab label="New Facts"><app-cat></app-cat></mat-tab>
	<!-- Composant qui affiche les cartes sauvegardée -->
	<mat-tab label="Saved Facts"><app-catsave></app-catsave></mat-tab>
  </mat-tab-group>
</div>
